main {
    min-height: 500px;
}

.posters {
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.poster {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    display: none;
}

.poster.active {
    display: flex;
}

#poster-1 {
    background-image: url("movies/breaking-bad-2008/poster.png");
}

#poster-2 {
    background-image: url("movies/dark-waters-2009/poster.webp");
}

#poster-3 {
    background-image: url("movies/the-big-short-2016/poster.jpg");
}

#poster-4 {
    background-image: url("movies/revolutionary-road-2008/poster.jpg");
}

#poster-5 {
    background-image: url("movies/the-children-act-2017/poster.jpg");
}

.poster-info {
    width: 100vw;
    min-height: 35%;
    margin-top: 32.5%;
    background-color: rgba(0, 0, 0, 0.55);
    overflow:hidden;
}

.poster-info-text {
    width: 92%;
    height: 100%;
    color: #fff;
    margin: 60px 4%;
    text-overflow: ellipsis;
}

.poster-info-text h2 {
    font-size: 32pt;
}

.poster-info-text p {
    font-size: 17pt;
    font-weight: bold;
    text-align: justify;
}

.poster a {
    color: #ffffff !important;
    text-decoration: none !important;
    transition: 0.25s linear;
}

.poster a:hover {
    text-shadow: 0 0 40px #fff;
}

@media (max-width: 1200px) {
    .poster-info {
        margin-top: 47.5%;
    }
}

@media (max-width: 650px) {
    .poster {
        padding-top: 25px;
    }

    #poster-1 {
        background-image: url("movies/breaking-bad-2008/affiche.jpg");
    }

    #poster-2 {
        background-image: url("movies/dark-waters-2009/affiche.jpg");
    }
    
    #poster-3 {
        background-image: url("movies/the-big-short-2016/affiche.jpg");
    }
    
    #poster-4 {
        background-image: url("movies/revolutionary-road-2008/affiche.jpg");
    }
    
    #poster-5 {
        background-image: url("movies/the-children-act-2017/affiche.jpg");
    }

    .poster-info {
        margin-top: 75%;
    }

    .poster-info-text {
        margin: 30px 4%;
    }

    .poster-info-text h2 {
        font-size: 26pt;
    }
    
    .poster-info-text p {
        font-size: 15pt;
        font-weight: bold;
    }
}

.big-outer-triangle {
    width: 0;
    height: 0;
    border-top: 76px solid transparent;
    border-bottom: 75px solid transparent;
    border-right: 76px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 25%;
    margin-left: 46px;
    margin-right: 46px;
    z-index: 1;
}

.big-inner-triange {
    position: relative;
    top: -59px;
    left: 12px;
    width: 0;
    height: 0;
    border-top: 59px solid transparent;
    border-bottom: 58px solid transparent;
    border-right: 59px solid rgba(0, 0, 0, 1);
    transition: 0.35s linear; 
}

.big-inner-triange:hover {
    opacity: 0;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .big-outer-triangle {
        top: 22.5%;
    }
}

@media (max-width: 1200px) and (orientation: portrait) {
    .big-outer-triangle {
        top: 15%;
    }
    .big-inner-triange:hover {
        opacity: 1;
        cursor: pointer;
    }
    .big-inner-triange:active {
        opacity: 0;
        cursor: pointer;
    }
}

@media (max-height: 500px) and (orientation: landscape) {
    .big-outer-triangle {
        top: 40%;
    }
    .poster-info {
        margin-top: 40%;
    }
    .big-inner-triange:hover {
        opacity: 1;
        cursor: pointer;
    }
    .big-inner-triange:active {
        opacity: 0;
        cursor: pointer;
    }
}

@media (max-width: 650px) {
    .big-outer-triangle {
        margin-left: 16px;
        margin-right: 16px;
        top: 20%;
        border-top: 49px solid transparent;
        border-bottom: 48px solid transparent;
        border-right: 49px solid rgba(255, 255, 255, 0.5);
    }

    .big-inner-triange {
        top: -39px;
        left: 8px;
        border-top: 39px solid transparent;
        border-bottom: 40px solid transparent;
        border-right: 39px solid rgba(0, 0, 0, 1);
    }

    .big-inner-triange:hover {
        opacity: 1;
        cursor: pointer;
    }
    .big-inner-triange:active {
        opacity: 0;
        cursor: pointer;
    }
}

#triangleRightOuter1 {
    position: absolute;
    right: 0;
    transform: rotate(180deg);
}

.movies {
    width: 100vw;
    min-height: 750px;
    text-align: center;
}

.movies h2{
    color: #ffdd2f;
    font-size: 28pt;
}

@media (max-width: 650px) {
    .movies h2{
        font-size: 22pt;
    }
}

figcaption {
    width: 198px;
    height: 16pt;
    overflow: hidden;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 10pt;
    background-color: #727272;
}

.affiche {
    height: 264px;
    width: 198px;
    overflow: hidden;
}

.affiche img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.filmBlock a { 
    display: block; 
    position: relative; 
}

.filmBlock a:after 
{ 
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: rgba(0,0,0,0.5);  
    opacity: 0;
    transition: 0.5s linear; 
}

.filmBlock a:before { 
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    opacity: 0; 
}

.filmBlock {
    display: block;
}

.filmBlock a:hover:before,
.filmBlock a:hover:after { opacity: 1; }

.full-film-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #2b2b2b;
    height: calc(264px + 16pt);
    max-width: 100%;
    overflow: hidden;
}

.carousel-wrapper {
    min-width: calc((198px + 4px) * 6 - 4px);
    max-width: calc((198px + 4px) * 6 - 4px);
}

.triangleBlock {
    z-index: 1;
    height: 100%;
    background-color: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.filler {
    width: 100vw;
    height: 100%;
    background-color: #2b2b2b;
    z-index: 1;
}

.film-carousel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    position: relative;
    margin-left: 0;
    gap: 4px;
    background-color: #636363;
}

@media (min-width: 1801px) {
    .carousel-wrapper {
        min-width: calc((198px + 4px) * 8 - 4px);
        max-width: calc((198px + 4px) * 8 - 4px);
    }
}

@media (max-width: 1400px) {
    .carousel-wrapper {
        min-width: calc((198px + 4px) * 5 - 4px);
        max-width: calc((198px + 4px) * 5 - 4px);
    }
}

@media (max-width: 1200px) {
    figcaption {
        width: 180px;
    }
    
    .affiche {
        height: 240px;
        width: 180px;
    }

    .carousel-wrapper {
        min-width: calc((180px + 4px) * 3 - 4px);
        max-width: calc((180px + 4px) * 3 - 4px);
    }

    .full-film-carousel {
        height: calc(240px + 16pt);
    }
}

@media (max-width: 650px) {
    .carousel-wrapper {
        min-width: 180px;
        max-width: 180px;
    }
}

#triangleRight2, #triangleRight3 {
    transform: rotate(180deg);
}

.small-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 48px 42px 48px 0;
    border-color: transparent #808080 transparent transparent;
    transition: 0.35s linear;
    margin-left: 25px;
    margin-right: 25px;
    z-index: 2;
}

.small-triangle:hover {
    cursor: pointer;
    border-color: transparent #424242 transparent transparent;
}

.small-triangle.disabled {
    border-color: transparent #424242 transparent transparent !important;
}

@media (max-width: 650px) {
    .small-triangle {
        margin-left: 30px;
        margin-right: 30px;
    }

    .small-triangle:hover {
        cursor: pointer;
        border-color: transparent #808080 transparent transparent;
    }

    .small-triangle:active {
        cursor: pointer;
        border-color: transparent #424242 transparent transparent;
    }
}

@media (max-width: 1200px) and (orientation: portrait) {
    .small-triangle:hover {
        cursor: pointer;
        border-color: transparent #808080 transparent transparent;
    }

    .small-triangle:active {
        cursor: pointer;
        border-color: transparent #424242 transparent transparent;
    }
}

@media (max-height: 500px) and (orientation: landscape) {
    .small-triangle:hover {
        cursor: pointer;
        border-color: transparent #808080 transparent transparent;
    }

    .small-triangle:active {
        cursor: pointer;
        border-color: transparent #424242 transparent transparent;
    }
}