*{margin: 0;} 

body {
    overflow-x: hidden;
    height: 133.33vw;
}

p {
    font-family: 'Times New Roman', serif;
    font-size: 64pt;
    font-weight: bold;
    margin-left: 10rem;
}

aside {
    height: calc(100% + 10px);
    position: relative;
    width: 19.6%;
    float: left;
    background-color: #ffcc00;
    border: 5px solid black;
}

.right-info {
    float: left;
    width: 70.4%;
    height: 100%;
}

header {
    position: relative;
    height: 15%;
    border-top: 5px solid black;
    border-right: 5px solid black;
    background-color: #0066ff;
    color: white;
}

main {
    position: relative;
    height: 70%;
    border: 5px solid black;
    border-left: none;
}

footer {
    position: relative;
    height: 15%;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    background-color: #0066ff;
    color: white;
    margin-bottom: 0;
}

.text-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}